// Custom.scss
// Option B: Include parts of Bootstrap

// Colormind

$cm-light-shade: #F3F4EC;
$cm-light-accent: #A2A6C3;
$cm-main-brand: #B852D1;
$cm-dark-accent: #887284;
$cm-dark-shade: #31385D;

$white: $cm-light-shade;
$dark: $cm-dark-shade;
$light: $cm-light-shade;
$jumbotron-bg: $cm-dark-shade;

$navbar-dark-hover-color: $cm-main-brand;
$navbar-dark-active-color: $cm-main-brand;

$card-spacer-y: .5rem;
$card-spacer-x: .5rem;

$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
  }
}



// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";