<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 mx-auto pb-5 text-center">
                    <img class="img-fluid rounded-circle" src="/public/images/about.jpg" alt="">
                </div>
                <div class="col-12 text-center">
                    <p>
                        Dear travelers, 
                        <br><br>
                        My name is Ana and I am a licensed guide for Dubrovnik area in French, English and Italian.
                        <br><br>
                        Being in love with history, languages, life, travels, interesting places and people, food and drink, I do my best to show and present my country and town to people from all over the world.
                        <br><br>
                        Aside from the listed tours, I can also tailor make one for you, depending on your wishes and preferences. 
                        <br><br>
                        Feel free to contact me and allow me to make your visit to this town an unforgettable experience. 
                    </p>
                </div>
            </div>
        </div>
    </main>

    {{> footer}}

  </body>
</html>