<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
    </main>

    {{> footer}}

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>