<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-6 mx-auto pb-5">
                    <img class="img-fluid rounded-circle" src="/public/images/contact.jpg" alt="">
                </div>
                <div class="col-12 text-center">
                    <h1>Get in Touch</h1>
                    <br>
                    <p class="lead">
                        The old charmer Dubrovnik is waiting for you to fall in love with... 
                        <br><br>
                        Contact me and your romance starts today! 
                    </p>
                    <br>
                    <i class="fa fa-whatsapp fa-3x" style="color:Green"></i>
                    <i class="fa fa-phone-square fa-3x" style="color:Orange"></i>
                    <p>+385 95 8942 623</p>
                    <br>
                    <i class="fa fa-envelope-square fa-3x" style="color:Blue"></i>
                    <p>ana.bilandzic88@gmail.com</p>
                </div>
            </div>
        </div>
    </main>

    {{> footer}}

  </body>
</html>