<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-6 mx-auto col-md-6 order-md-2">
                    <img class="img-fluid mb-3 mb-md-0 rounded" src="/public/images/about.jpg" alt="" width="860" height="860">
                </div>
                <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                    <h1>In ❤️ With Dubrovnik</h1>
                    <p class="lead">
                        Dear travelers, 
                        <br> 
                        My name is Ana and I am a local, Dubrovnik and Surroundings, tour guide.
                        <br><br>
                        Being in love with history, languages, life, travels, interesting places and people, food and drink, I do my best to show and present my country and town to people from all over the world. Aside from the listed tours, I can also tailor make one for you, depending on your wishes and preferences. Feel free to contact me and allow me to make your visit to this town an unforgettable experience. 
                    </p>
                    <p>whatsapp: +385 95 8942 623
                       <br>
                       phone: +385 95 8942 623
                       <br>
                       e-mail: ana.bilandzic88@gmail.com</p>
                </div>
            </div>
        </div>
    </main>

    {{> footer}}

  </body>
</html>