<footer class="text-center text-muted small d-flex">
    <div class="container justify-content-center align-self-center">
        <p>Share on</p>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://anabilandzic.github.io" target="_blank">
            <i class="fab fa-facebook-square fa-3x" style="color:#3b5998"></i>
        </a>
        <a href="https://twitter.com/home?status=https://anabilandzic.github.io" target="_blank">
            <i class="fab fa-twitter-square fa-3x" style="color:#00aced"></i>
        </a>
        <a href="https://plus.google.com/share?url=https://anabilandzic.github.io" target="_blank">
            <i class="fab fa-google-plus-square fa-3x" style="color:#dd4b39"></i>
        </a>
        <br><br>
        <p>Ana Bilandzic Cavar | All Rights Reserved &copy; 2018</p>
    </div>
</footer>