<footer class="text-center text-muted small d-flex">
  <div class="container justify-content-center align-self-center">
    <p>Ana Bilandzic Cavar | All Rights Reserved &copy; 2018</p>
  </div>
</footer>