<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
<!--
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-dark">Hi I am Ana, your local Dubrovnik guide</h1>
          <p class="text-dark-secondary">Being in love with history, languages, life, travels, interesting places and people, food and drink, I do my best to show and present my country and town to people from all over the world. Aside from the listed tours, I can also tailor make one for you, depending on your wishes and preferences. To be able to provide the highest quality tours, I prefer smaller groups (the Old Town of Dubrovnik can be quite crowded). Feel free to contact me and allow me to make your visit to this town an unforgettable experience.</p>
        </div>
      </section>
-->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {{#tours}}
                <div class="col-md-4">
                    {{> tour}}
                </div>
            {{/tours}}
          </div>
        </div>
      </div>

    </main>
    {{> footer}}
  
  </body>
</html>