<div class="card border-light mb-4">
    <img class="card-img-top" src="{{image_source}}">
    <div class="card-body">
        <h4 class="card-title text-dark">
            <a class="text-dark" href="#">{{name}}</a>
        </h4>
        <p class="card-description text-dark-secondary">{{description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{duration}}</small>
        </div>
    </div>
</div>
