<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
        <div class="container py-5">
            <div class="post">
                <h1 class="post-title">{{name}}</h1>
                <span class="post-date">Duration: {{duration}}</span>
                <span class="post-date">Location: {{location}}</span>
                <span class="post-date">Accessibility: {{accessibility}}</span>
                <span class="post-date">Notes: {{notes}}</span>
                <p><b>{{description}}</b></p>
                <p>{{text}}</p>
            </div>
        </div>
    </main>

    {{> footer}}

  </body>
</html>
