<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
        <div class="container py-5">
            <div class="post">
                <h1 class="post-title text-center">
                    {{name}}
                </h1>
                <div class="row pt-5">
                {{#images}}
                    <div class="col-md-6 pb-5">
                        <div class="thumbnail">
                            <img src="{{image_source}}" alt="Lights" style="width:100%">
                        </div>
                    </div>
                {{/images}}
                </div>

                <i class="text-muted">Duration: {{duration}}</i>
                <br>
                <i class="text-muted">Location: {{location}}</i>
                <br>
                <i class="text-muted">Accessibility: {{accessibility}}</i>
                <br>
                <i class="text-muted">Notes: {{notes}}</i>
                <br><br>
                <p><b>{{description}}</b></p>
                <p>{{{text}}}</p>
            </div>
        </div>
    </main>

    {{> footer}}

  </body>
</html>
