<div class="card border-light mb-4">
    <img class="card-img" src="{{image_source}}">
    <div class="card-body">
        <h5 class="card-title text-dark">
            <a class="text-dark" href="/tours/{{slug}}.html">{{name}}</a>
        </h5>
        <p class="card-description text-dark-secondary">{{description}}</p>
        <a href="/tours/{{slug}}.html">
            Read more
        </a>
    </div>
</div>
