<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}

    <main role="main">
        <div class="container py-5">
            <div class="post">
                <h1 class="post-title">
                    {{name}}
                    <br>
                    <small class="text-muted">{{description}}</small>
                </h1>
                <small>Duration: {{duration}}</small>
                <br>
                <small>Location: {{location}}</small>
                <br>
                <small>Accessibility: {{accessibility}}</small>
                <br>
                <small>Notes: {{notes}}</small>
                <br><br>
                <p>{{text}}</p>
            </div>
        </div>
    </main>

    {{> footer}}

  </body>
</html>
